In [1]:
import pandas as pd
import numpy as np

In [46]:
data = pd.read_csv('Homicide.csv', sep = ',')

In [52]:
data.head() #shows first 5 rows

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5

In [53]:
data.tail() # shows last 5 rows

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015

In [48]:
# how many rows?
data.shape #gives number of rows and columns

(1015, 13)

In [49]:
data.shape[0] #gives number of rows

1015

In [50]:
data.shape[1] #gives number of columns

13

In [51]:
data.columns

Index(['X', 'Y', 'Index_', 'Event_Unique_ID', 'Occurrence_year', 'Division',
       'Homicide_Type', 'Occurrence_Date', 'Hood_ID', 'Neighbourhood', 'Lat',
       'Long', 'ObjectId'],
      dtype='object')

In [54]:
type(data['Occurrence_year'])

pandas.core.series.Series